.portfilo-item-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfilo-item-thumbnail::before, .portfilo-item-thumbnail::after {
    content: "";
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    border-radius: 50%;
    opacity: .6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
  }
  .portfilo-item-thumbnail::before {
    height: 45px;
    width: 45px;
    border-color: var(--blue);
    animation-duration: 1.2s;
  }
  .portfilo-item-thumbnail::after {
     height: 60px;
     width: 60px;
     border-color: var(--red-color);
  }

  .portfilo-item-thumbnail img {
    opacity: 0;
  }
  .portfilo-item-thumbnail.loaded::before, .portfilo-item-thumbnail.loaded::after {
    content: unset;
  }
  .portfilo-item-thumbnail.loaded img {
    opacity: 1;
  }
  .box {
    position: relative;
    width: 100%;
  }
  .pt-56 {
    padding-top: 56.20%;
  }
  .box_resize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }