@import url(fonts.css);
@import url(font-awesome.css);
@import url(project.css);
@import url(keyframes.css);
@import url(fancybox.min.css);

/* Header SETTINGS*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0 0;
}
.header.active {
  position: fixed;
  top: 35px;
  padding: 20px 15px;
}
.header.active .container {
  max-width: 1200px;
  margin: auto;
}
.header .nav-toggler {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  z-index: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
}
.header .nav-toggler.hide {
  opacity: 0;
  transition: none;
}
.header .nav-toggler span {
  height: 2px;
  width: 24px;
  background-color: var(--white);
  position: relative;
  transition: background-color 0.3s ease;
}
.header.active .nav-toggler span {
  background-color: transparent;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: all 0.3s ease;
}
.header .nav-toggler span::before {
  left: 0;
  transform: translateY(-8px);
}
.header.active .nav-toggler span::before {
  transform: rotate(45deg);
}
.header .nav-toggler span::after {
  right: 0;
  transform: translateY(8px);
}
.header.active .nav-toggler span::after {
  transform: rotate(-45deg);
}
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
  width: 50%;
}
.header .btns {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 35px 15px;
  display: none;
}
.header.active .nav {
  display: block;
}
.header .nav-inner {
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: auto;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter-blur);
  padding: 50px 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.header.active .nav-inner {
  opacity: 1;
}
.header .nav-inner ul li {
  text-align: center;
}
.header .nav-inner ul li a {
  font-size: 45px;
  text-transform: capitalize;
  color: var(--white);
  display: block;
  font-family: 500;
  padding: 8px 15px;
  transition: color 0.3s ease;
  position: relative;
}
.header .nav-inner ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 0%;
  background-color: var(--white-alpha-25);
  z-index: -1;
  transition: width 0.5s ease;
}
.header .nav-inner ul li a:hover::before {
  width: 100%;
}
.header .nav-inner ul li a:hover {
  color: var(--red-color);
}
.fancybox-navigation .fancybox-button--arrow_right,
.fancybox-navigation .fancybox-button--arrow_left{
  display: none;
}

  
/* HOME SETTINGS*/

.home-section .home-text h1 a .typed-cursor {
  opacity: 0.5;
}
.home-section {
  padding: 120px 0;
  position: relative;
}
.home-section.active {
  display: flex;
}
.home-text,
.home-img {
  width: 50%;
  padding: 10px;
}
.home-section .home-text h1{
  cursor: defaulf;
}
.home-section .home-text h1 a{
  cursor: defaulf;
}
.home-section .home-text h1 a span {
  color: var(--orange);
  font-size: 2.8rem;
  cursor: defaulf;
}
.home-section .home-img {
  position: relative;
}

.home-section .home-img .img-box:hover img {
  filter: grayscale(1);
}
.home-section .home-img .content,
.portfilo-item-thumbnail .content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-9deg);
  background: var(--dark-to-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, -50%) skewX(-9deg);
  -moz-transform: translate(-50%, -50%) skewX(-9deg);
  -ms-transform: translate(-50%, -50%) skewX(-9deg);
  -o-transform: translate(-50%, -50%) skewX(-9deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.portfilo-item-thumbnail .content a{
  margin-left: .4rem;

}
.home-section .home-img .img-box:hover .content,
.portfilo-item-thumbnail .box_resize:hover .content {
  opacity: 1;
 
}




.home-text p {
  font-size: 18px;
}
.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
}
.home-text h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 30px;

}
.home-section .container .row .home-text h1 a span{
  cursor: default;
}
.home-text .btn {
  margin: 0 15px 15px 0;
}
.home-text .last a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.home-text .last a:hover {
  letter-spacing: 3px;
}
.home-img .img-box {
  max-width: 360px;
  padding: 0.05rem;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-40);
  margin: auto;
  box-shadow: 2px 2px 2px 2px rgba(97, 94, 94, 0.25),
    -3px -3px 40px rgba(80, 79, 79, 0.4);
  animation: morph 7s ease-in-out infinite;
  -webkit-animation: morph 7s ease-in-out infinite;
}
.home-img .img-box img {
  animation: morph 7s ease-in-out infinite;
  -webkit-animation: morph 7s ease-in-out infinite;
  width: 100%;
  border-radius: 50%;
}
.youtube {
  color: white;
  font-weight: 400;
  transition: color 0.4s ease-in-out, font-weight 0.2s ease-in;
}
.youtube:hover {
  color: var(--orange);
  font-weight: 600;
}

/*about Section start-*/
.about-img {
  width: 30%;
  padding: 0 15px;
}
.about-text {
  width: 60%;
  padding: 0 15px;
}
.about-img .img-box {
  background-color: var(--white-alpha-25);
  max-width: 300px;
  border: 1px solid var(--white-alpha-40);
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(97, 94, 94, 0.25),
    -3px -3px 40px rgba(80, 79, 79, 0.4);
}
.about-img .img-box img {
  width: 100%;
}
.about-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}
.about-text .skills {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.about-text .skill-item {
  width: 85px;
  height: 85px;
  align-items: center;
  justify-content: center;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 5px 15px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 20px;
}

.about-tabs {
  margin-top: 20px;
}
.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}
.about-tabs .tab-item:hover::before {
  width: 100%;
}
.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: var(--red-color);
}
.about-tabs .tab-item.active {
  color: var(--green-color);
  opacity: 1;
  cursor: auto;
}
.about-text .timeline {
  position: relative;
}
.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--green-color);
}
.about-text .tab-content {
  padding: 40px 0;
  display: none;
}
.about-text .tab-content.active {
  display: block;
}
.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}
.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--green-color);
  left: 0;
  top: 16px;
  border-radius: 50%;
}
.about-text .timeline-item:last-child {
  margin-bottom: 0;
}
.about-text .timeline-item .date {
  display: block;
  color: var(--green-color);
  font-weight: 400;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 span {
  font-weight: 300;
}
.about-text .timeline-item:nth-child(3) p span {
  font-weight: 600;
}
.about-text .btn {
  margin: 0 15px 15px 0;
}
/*PORTFILO-----------------------------*/
.portfilo-section {
  padding-bottom: 50px;
}
.portfilo-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  display: none;
  position: relative;
}
.portfilo-item.show {
  display: block;
}
.portfilo-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
}
.portfilo-filter-btn {
  padding: 4px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue-dark);
  color: var(--white);
  text-transform: capitalize;
  margin: 0 4px 10px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out, opacity 0.4s ease;
  opacity: 0.7;
}
.portfilo-filter-btn:hover {
  background: var(--red-color);
  opacity: 1;
}
.portfilo-item-thumbnail {
  position: relative;
  overflow: hidden;
  padding: 4px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 10px;
}
.portfilo-item-thumbnail .box {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.portfilo-item-thumbnail .box:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.portfilo-item-thumbnail .box .content .porrfolio-text{
  position: absolute;
  top: -20% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  width: 100% !important;
  padding: .4rem;
  letter-spacing: 2px;
  background: #212222;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  -webkit-transform: translate(-50%,-50%) !important;
  -moz-transform: translate(-50%,-50%) !important;
  -ms-transform: translate(-50%,-50%) !important;
  -o-transform: translate(-50%,-50%) !important;
}
@media screen and (max-width:565px){
  .portfilo-item-thumbnail .box .content .porrfolio-text{
    width: 90% !important;
  }
}
#text {
  font-size: 30px;
  font-weight: 600;
  color: var(--orange);
}
.portfilo-item-thumbnail .new {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--red-color);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 8px;
}
.portfilo-item h3 {
  margin: 20px 0;
}
.portfilo-item-thumbnail img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.protfilo-item-detalis {
  display: none;
}
.portfilo-item-thumbnail .box_resize img{
  transition: all 0.3s;
}
.portfilo-item-thumbnail .box_resize:hover img{
  opacity: .5 !important;
  transition: all 0.3s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.general-info ul li:nth-child(2) span a {
  color: var(--green-color);
  transition: color 0.3s ease-in, font-weight 0.4s ease-in;
}
.general-info ul li:nth-child(2) span a:hover {
  color: var(--red-color);
  font-weight: 500;
}
.general-info ul li:nth-child(3) span a {
  color: var(--green-color);
  transition: color 0.3s ease-in, font-weight 0.4s ease-in;
}
.general-info ul li:nth-child(3) span a:hover {
  color: var(--red-color);
  font-weight: 500;
}
.general-info ul li:nth-child(4) span a {
  color: var(--green-color);
  transition: color 0.3s ease-in, font-weight 0.4s ease-in;
}
.general-info ul li:nth-child(4) span a:hover {
  color: var(--red-color);
  font-weight: 500;
}
#searchbar {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 30px;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--white-alpha-40);
  transition: all 0.5s ease-in-out;
}
#searchbar::placeholder {
  text-align: center;
  color: rgb(53, 52, 52);
}
input[type="text"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}
input[type="text"]:focus {
  width: 70%;
}
/*portfilo-popup*/
.portfilo-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
}
.portfilo-popup.open {
  visibility: visible;
  overflow-y: auto;
}
.pp-inner {
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pp-content {
  background-color: var(--white-alpha-25);
  padding: 30px;
  border-radius: 30px;
  max-width: 720px;
  width: 100%;
  border: 1px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter-blur);
  opacity: 0;
  transform: scale(0.9);
}
.portfilo-popup.open .pp-content {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
}
.pp-header {
  position: relative;
}
.pp-header .btn {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -40px;
}
.pp-thumbnail img {
  border-radius: 10px;
}
.pp-header h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin: 20px 0 15px;
}
.pp-body .description {
  margin-bottom: 20px;
}
.pp-body .general-info li {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.pp-body .general-info li span {
  font-weight: 300;
}
.pp-body .general-info li a {
  text-transform: lowercase;
  color: var(--red-color);
}
/*contact*/
.contact-section .container {
  margin-top: 20px;
}
.contact-form,
.contact-info {
  width: 50%;
  padding: 0 15px;
}
.contact-info-item {
  margin: 0 0 20px;
  padding: 0 0 0 10px;
}
.contact-info-item h3 {
  font-size: 23px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.contact-info-item p {
  font-size: 16px;
}

.contact-info-item .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  color: var(--white);
  border-radius: 50%;
  transition: font-size 0.5s inherit;
  margin: 6px 4px 0 0;
  transition: all 0.3s ease;
}
.contact-info-item .social-links a:nth-child(1):hover {
  color: var(--white);
  background-color: #c32aa3;
}
.contact-info-item .social-links a:nth-child(2):hover {
  color: var(--white);
  background-color: #c32aa3;
}
.contact-info-item .social-links a:nth-child(3):hover {
  color: var(--white);
  background-color: #1877f2;
}
.contact-info-item .social-links a:nth-child(4):hover {
  color: var(--white);
  background-color: #1da1f2;
}
.contact-info-item .social-links a:nth-child(5):hover {
  color: var(--white);
  background-color: #ff0000;
}
.contact-info-item .social-links a:nth-child(6):hover {
  color: var(--white);
  background-color: #0a66c2;
}
.contact-info-item .social-links a:nth-child(7):hover {
  color: var(--white);
  background-color: #6e5494;
}
.page {
  display: none;
}
.page-active {
  display: block;
}
/*responsive*/

@media (max-width: 1200px) {
  .contact-form,
  .contact-info,
  .home-text,
  .home-img {
    width: 100%;
  }
  .contact-info {
    order: -1;
    margin-bottom: 10px;
    text-align: center;
  }
  .contact-section{
    overflow: hidden;
  }
  .home-text {
    text-align: center;
  }
  .home-text p {
    font-size: 30px;
  }
  .home-text h2 {
    font-size: 30px;
  }
  .home-text .btn {
    font-size: 25px;
  }
  .home-img {
    order: -1;
  }
  .home-img .img-box {
    max-width: 300px;
  }
  .header .nav-inner ul li a {
    font-size: 40px;
  }
  .btnall {
    display: none;
  }
  .header .nav-toggler {
    visibility: visible;
    transition: visibility 0.5s ease-in-out;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0;
  }
  .home-text,
  .home-img {
    width: 100%;
  }
  .home-img .img-box img {
    width: 18rem;
    height: auto;
  }
  .home-text {
    text-align: center;
  }
  .home-img {
    order: -1;
  }
  .home-img .img-box {
    max-width: 300px;
  }
  .home-text .btn {
    margin: 0 7px 15px;
  }
  .portfilo-item {
    width: calc(50% - 30px);
  }
  .contact-info-item {
    padding: 0;
  }
  .btnall {
    display: none;
  }
  .header .nav-toggler {
    visibility: visible;
    transition: visibility 0.5s ease-in-out;
  }
  .home-section .home-text h1 a span {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .contact-form,
  .contact-info,
  .about-img,
  .about-text {
    width: 100%;
  }
  .about-text {
    margin-top: 30px;
  }
  .portfilo-item {
    width: calc(100% - 30px);
  }
  .pp-inner {
    padding: 30px 15px;
  }
  .contact-info {
    order: -1;
    margin-bottom: 15px;
    text-align: center;
  }
  .btnall {
    display: none;
  }
  .header .nav-toggler {
    visibility: visible;
    transition: visibility 0.5s ease-in-out;
  }
  .home-section .home-text h1 a span {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .section-title h2,
  .header .nav-inner ul li a {
    font-size: 30px;
  }
  .home-text h1 {
    font-size: 30px;
  }
  .home-text h2 {
    font-size: 18px;
  }
  .pp-header h3 {
    font-size: 20px;
  }
  .btnall {
    display: none;
  }
  .header .nav-toggler {
    visibility: visible;
    transition: visibility 0.5s ease-in-out;
  }
  #searchbar {
    max-width: 100%;
  }
  .portfilo-filter {
    margin-top: -30px;
  }
  .portfilo-filter-btn {
    max-width: 25%;
    font-size: 10px;
  }
  .home-section .home-text h1 a span {
    font-size: 1.5rem;
  }
}
