*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
html,
body,
.site-wrapper {
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.75;
    position: relative;
    visibility: visible;
    overflow-x: hidden;
    color: #696969;
    background-color: #fff;
}




*:focus {
    outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Marcellus', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    color: #333;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: inherit;
    margin: 0;
}


p:last-child {
    margin-bottom: 0;
}

a,
button {
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a,
button,
img,
input {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a:focus {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

a:hover {
    text-decoration: none;
    color: #f8796c;
}

button,
input[type='submit'] {
    cursor: pointer;
}



img {
    max-width: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
}

ul:last-child {
    margin-bottom: 0;
}

hr {
    border-top-width: 2px;
}

.fix {
    overflow: hidden;
}

.imgLoad img {
    opacity: 0 !important;
  }
  .imgLoad.loaded::before, .bot.loaded::after {
    content: unset !important;
  }
  .imgLoad.loaded img {
    opacity: 1 !important;
  }
  .imgLoad img[data-loaded=true]{
    opacity: 1 !important;
  }
  .section,
  .main-wrapper {
      float: left;
      width: 100%;
  }

  .row {
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.row>[class*='col'] {
    padding-right: 15px;
    padding-left: 15px;
}

.row>[class*='col']:not([class*='learts-mt-']) {
    margin-top: 0;
}

.row.g-0 {
    margin-right: 0;
    margin-left: 0;
}

.row.g-0>[class*='col'] {
    padding-right: 0;
    padding-left: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.bg-light {
    background-color: #f8f9fa !important;
}









[data-bg-image] {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
body.homepage-bg1 {
    padding: 0 15px 15px !important;
    background-color: #f4ede7;
}

body.homepage-bg1 .topbar-section {
    background-color: #f4ede7 !important;
}
body.homepage-bg1.offcanvas-open {
    padding-right: 32px !important;
}


#scrollUp {
    right: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #f8796c;
}

#scrollUp i {
    line-height: 40px;
}

.border-top-dashed {
    border-top: 1px dashed #d2d2d2;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #d2d2d2;
}

.img-hover-color {
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
}

.img-hover-color:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}


.learts-mb-10 {
    margin-bottom: 10px;
}

.learts-mb-n10 {
    margin-bottom: -10px;
}

.learts-mb-20 {
    margin-bottom: 20px;
}

.learts-mb-n20 {
    margin-bottom: -20px;
}

.learts-mb-30 {
    margin-bottom: 30px;
}

.learts-mb-n30 {
    margin-bottom: -30px;
}

.learts-mb-40 {
    margin-bottom: 40px;
}

.learts-mb-n40 {
    margin-bottom: -40px;
}

.learts-mb-50 {
    margin-bottom: 50px;
}

.learts-mb-n50 {
    margin-bottom: -50px;
}


.learts-mb-60 {
    margin-bottom: 60px;
}

.learts-mb-n60 {
    margin-bottom: -60px;
}

.learts-mb-70 {
    margin-bottom: 70px;
}

.learts-mb-n70 {
    margin-bottom: -70px;
}

.learts-mb-80 {
    margin-bottom: 80px;
}

.learts-mb-n80 {
    margin-bottom: -80px;
}

.learts-mb-90 {
    margin-bottom: 90px;
}

.learts-mb-n90 {
    margin-bottom: -90px;
}

.learts-mb-100 {
    margin-bottom: 100px;
}
.learts-mb-150{
    margin-bottom: 70px;
}
.learts-mb-n100 {
    margin-bottom: -100px;
}
.learts-mt-10 {
    margin-top: 10px;
}

.learts-mt-n10 {
    margin-top: -10px;
}

.learts-mt-20 {
    margin-top: 20px;
}

.learts-mt-n20 {
    margin-top: -20px;
}

.learts-mt-30 {
    margin-top: 30px;
}

.learts-mt-n30 {
    margin-top: -30px;
}

.covimg{
    background-image: url('/assets/images/work_process.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.covimg [class*="col"]:nth-child(even) .process-wrapper {
    margin-top: 125px;
}

.learts-mt-40 {
    margin-top: 40px;
}

.learts-mt-n40 {
    margin-top: -40px;
}

.learts-mt-50 {
    margin-top: 50px;
}

.learts-mt-n50 {
    margin-top: -50px;
}

.learts-mt-60 {
    margin-top: 60px;
}

.learts-mt-n60 {
    margin-top: -60px;
}

.learts-mt-70 {
    margin-top: 70px;
}

.learts-mt-n70 {
    margin-top: -70px;
}

.learts-mt-80 {
    margin-top: 80px;
}

.learts-mt-n80 {
    margin-top: -80px;
}

.learts-mt-90 {
    margin-top: 90px;
}

.learts-mt-n90 {
    margin-top: -90px;
}

.learts-mt-100 {
    margin-top: 100px;
}
.learts-mt-n100 {
    margin-top: -100px;
}

.learts-pb-10 {
    padding-bottom: 10px;
}

.learts-pb-20 {
    padding-bottom: 20px;
}

.learts-pb-30 {
    padding-bottom: 30px;
}

.learts-pb-40 {
    padding-bottom: 40px;
}

.learts-pb-50 {
    padding-bottom: 50px;
}
.learts-pb-60 {
    padding-bottom: 60px;
}

.learts-pb-70 {
    padding-bottom: 70px;
}

.learts-pb-80 {
    padding-bottom: 80px;
}

.learts-pb-90 {
    padding-bottom: 90px;
}

.learts-pb-100 {
    padding-bottom: 100px;
}

.learts-pt-10 {
    padding-top: 10px;
}

.learts-pt-20 {
    padding-top: 20px;
}

.learts-pt-30 {
    padding-top: 30px;
}

.learts-pt-40 {
    padding-top: 40px;
}

.learts-pt-50 {
    padding-top: 50px;
}

.learts-pt-60 {
    padding-top: 60px;
}

.learts-pt-70 {
    padding-top: 70px;
}

.learts-pt-80 {
    padding-top: 80px;
}

.learts-pt-90 {
    padding-top: 90px;
}

.learts-pt-100 {
    padding-top: 100px;
}

.zoomImg {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.irs--learts {
    font-family: 'Futura';
    margin: 7px 0 40px;
}

.irs--learts .irs {
    font-family: 'Futura';
    position: relative;
    width: 100%;
}

.irs--learts .irs .irs-line {
    width: 100%;
    height: 5px;
    background-color: #eee;
}

.irs--learts .irs .irs-from,
.irs--learts .irs .irs-to {
    display: none !important;
}

.irs--learts .irs .irs-single {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: calc(100% + 25px);
    left: 0 !important;
    visibility: visible !important;
}

.irs--learts .irs .irs-single::before {
    content: 'Məbləğ: ';
}

.irs--learts .irs-bar {
    top: 0;
    height: 5px;
    background-color: #333;
}

.irs--learts .irs-handle {
    top: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -9999px;
    border-radius: 50%;
    background-color: #333;
}



.ps {
    position: relative;
    padding-right: 10px;
}

.ps:not(.ps--active-y) {
    overflow: visible !important;
}

.ps .ps__scrollbar-y-rail {
    width: 5px;
    opacity: 0;
    border-radius: 5px;
}

.ps .ps__scrollbar-y-rail .ps__scrollbar-y {
    right: 1px;
    width: 3px !important;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    border-radius: 5px;
}

.pswp__img {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.cd-product-viewer-wrapper {
    position: relative;
    padding-bottom: 20px;
}
