

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
:root{
    --colorFF:#fff;
    --color00:#000;
    --color172:#1728c4;
    --colorE42:#E4232A;
    --colorF5:#f5f5f5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
html{
    font-size: 16px;
}
.fix{
    overflow: hidden !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.global_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.global_text h2{
    color: var(--color00);
    margin-bottom: 3rem;
    text-transform: capitalize;
    border: 2px solid rgba(228, 35, 42, 0.3);
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fix{
    overflow: hidden !important;
}
.imgLoad img {
    transition: all .2s;
    opacity: 0 !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.imgLoad.loaded::before, .bot.loaded::after {
    content: unset !important;
}
.imgLoad.loaded img {
    opacity: 1 !important;
}
.imgLoad img[data-loaded=true]{
    opacity: 1 !important;
}


  
  .load {
    align-items: center;
    background-color: var(--colorF5);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.load.active{
    display: none;
    opacity: 0;
}
  .loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }



/**HEADER SECTION START=============================*/
header{
    z-index: 99999 !important;
}
header .container-fluid{
    padding: 5px 100px 5px 100px;
}
/**HEADER UP START---------*/
header .header-up {
    min-height: 50px;
    width: 100%;
    background-color: var(--colorE42);
    border-bottom: 1px solid --colorFF;
} 
.mobileMenu{
    display: none;
}
header .header-up .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    --bs-gutter-x: 0rem !important;
}
header .header-up .connection{
    padding-top: 15px;
    display: inline-block;
}
header .header-up .connection a{
    color: var(--colorFF);
    padding-right: 20px;
}
header .header-up .connection a:hover{
    transition: .4s ease-out;
    color: var(--color00);
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}
header .header-up .connection a i{
    padding-right: 10px;
}
header .header-up .socials{
    padding-top: 2px;
    width: 30%;
    margin-bottom: 0rem !important;
}
header .header-up .socials li{
    text-align: right;
    display: inline-block;
}
header .header-up .socials a{
    color: var(--colorFF);
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}
header .header-up .socials li i{
    color: var(--colorFF);
    padding-right: 5px;
}
header .header-up .socials li i:hover{
    transition: .4s ease-out;
    color: var(--color00);
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}
header .header-up .socials a:hover{
    color: var(--color172);
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}
header .header-up .language{
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-right:50px;
    align-items: center;
}
header .header-up .language select{
    background: transparent;
    border: none;
    outline: none;
    color: var(--colorFF);
    cursor: pointer;
}
header .header-up .language select .option{
    color: var(--colorFF);
    background: var(--colorE42);

}
/**HEADER UP END---------*/

/**HEADER DOWN START---------*/

header .header-down {
    min-height: 80px;
    width: 100%;
    background: transparent;
    z-index: 8888;
    border-bottom: 1px solid var(--colorF5);
}
header .header-down.active{
    background: #fff;
    border-bottom: 2px solid var(--colorE42);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}
header .header-down .navbar{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack:justify;
    justify-content: space-between;

}
header .header-down .navbar .navbar-brand img{
    height: 50px;
}
header .header-down .navbar .nav-item{
     line-height: 30px;
     text-align: center;
     position: relative;
     overflow: hidden;
     margin-left: 40px;
}
header .header-down .navbar .nav-item::before{
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: var(--colorE42);
    transform: translateX(-100%);
    transition: all .3s ease-in;
}
header .header-down .navbar .nav-item:hover::before{
    height: 2px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
header .header-down .navbar .nav-item a{
    color: var(--color00);
}
header .header-down .navbar .nav-item .nav-link.active{
    color: var(--colorE42);
}
header .header-down .navbar .nav-item a:hover{
    color: var(--colorE42);
}
header .navbar-expand-xl .navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.navbar-expand-xl .navbar-nav {
    flex-direction: row;
}
.navbar-collapse{
    flex-basis: 0%;
}
/**HEADER DOWN END---------*/

/*MOBILE MENU*/
.vs-menu-wrapper .vs-mobile-menu{
    text-align: center;
    display: block;
    color: var(--colorFF);
    font-weight: 300;
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition:all .3s;
    padding-top: 20px;
}
.vs-menu-wrapper .vs-mobile-menu:hover,
.vs-menu-wrapper .vs-mobile-menu:focus{
    color:var(--color00);
}
.vs-menu-wrapper .dropdown{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.vs-menu-wrapper .dropdown-item{
  padding: 5px;
}
.vs-menu-wrapper .dropdown .dropdown-menu{
  min-width: 5rem !important;
}
.vs-menu-wrapper .dropdown .dropdown-menu .dropdown-item img{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.vs-menu-wrapper .dropdown .dropdown-menu .dropdown-item:hover,
.vs-menu-wrapper .dropdown .dropdown-menu .dropdown-item:focus{
  background-color: #999;
  transition: all .3s;
  color: #fff;
  letter-spacing: 3px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.vs-menu-wrapper .vs-active i{
  border: none;
  outline: none;
  cursor: pointer;
}
.vs-menu-wrapper .vs-active i:hover,
.vs-menu-wrapper .vs-active i:focus{
  color: var(--color00);

  transition: all .3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
.vs-menu-wrapper .nav-item .nav-link.active{
 color: var(--colorF5);
 font-weight: 600;
 letter-spacing: 3px;
}
.vs-menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999;
    width: 0;
    height: 80%;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
}

.vs-menu-wrapper.vs-body-visible{
  opacity: 1;
  visibility: visible;
  width: 100%;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
}

.vs-menu-area{
    width: 60%;
    max-width: 300px;
    background: rgba(228, 35, 42, 0.95);
    height: 100%;
    position: relative;
    left: -1000px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
}

.vs-menu-wrapper.vs-body-visible .vs-menu-area{
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
}


.vs-menu-wrapper.vs-body-visible .vs-menu-area .menu-items{
    padding-top: 4rem;
  display: none;
  background: rgba(228, 35, 42, 0.95);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
}
.vs-menu-wrapper.vs-body-visible .vs-menu-area .menu-items .nav-item{
 
}
.vs-menu-wrapper.vs-body-visible .vs-menu-area .mobile-logo{
  max-width: 140px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.vs-menu-wrapper.vs-body-visible .vs-menu-area .mobile-logo img{
  max-width: 100%;
  height: auto;
}

.vs-menu-wrapper .vs-menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  outline: none;
  padding: 0;
  line-height: 1;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  z-index: 1;
}

.vs-menu-wrapper .vs-menu-area .socials{
    position: absolute;
    bottom: 10%;
    left: 40%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.vs-menu-wrapper .vs-menu-area .socials ul{
    margin: 0;
}
.vs-menu-wrapper .vs-menu-area .socials li{
    display: inline-block;
    
}
.vs-menu-area .fas{
    color: #fff;
}
.vs-menu-wrapper .vs-menu-area .socials li a{
    color: var(--colorFF);
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
   
}
header .header-up .language .mobileMenu .navbar-toggler{
    color: var(--colorFF);
}
header .header-up .language .mobileMenu{
    display: none;
}





/*MOBILE MENU END*/
/**HEADER SECTION END=============================*/


/**MAIN SLIDER SECTION START=============================*/
.home .carousel-item{
	min-height: 100vh;
	background-position: center center;
	background-size: cover;
    background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin: 0;
	color: #eeeeee;
	opacity: 0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft .5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight .5s ease forwards;
}
@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-60px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(60px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
.home .carousel-inner {
    position: relative;
}
.home .carousel-inner .about{
    position: absolute;
    top: 38%;
    left: 0;
    width: 45%;
}
.home .carousel-inner .about .text{
    display: flex;
    padding-left: 20px;
    align-items: center;
 
    height: 100px;
    background: linear-gradient(90deg, #E4232A 0%, rgba(228, 35, 42, 0) 117.94%);
}
.home .carousel-inner .text h2{
    text-transform: uppercase;
    font-size: 2.2rem;
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 11;
	transform: translateX(-50%);
}
.home .carousel-indicators{
	position: relative;
	margin: 0;
}
.home .carousel-indicators button{
	height: 70px;
	width: 70px;
	margin: 0 5px;
    
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border: 3px solid transparent;
	transition: all .3s ease;
}
.home .carousel-indicators button.active{
	border-color: var(--colorE42);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.home .carousel-control-next,
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all .3s ease;
}
.home .carousel-control-next:hover,
.home .carousel-control-prev:hover{
	box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img,
.home .carousel-control-prev img{
	width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}








/*MAIN SLIDER SECTION END=============================*/
/*MENU SECTION SLIDER SECTION START=============================*/
.menu-sections{
    position: relative;
    margin-bottom: 3rem;
}
.menu-sections .swipers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.menu-sections .swipers .swiper-slide{
    border: 2px solid var(--colorF5);
    height: 200px;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
  
}
.menu-sections .swipers .swiper-slide a{
    color: var(--color00);
}
.menu-sections .swipers .swiper-slide:hover .image .second {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transition: .5s ease;
   -webkit-transition: .5s ease;
   -moz-transition: .5s ease;
   -ms-transition: .5s ease;
   -o-transition: .5s ease;
}
.menu-sections .swipers .swiper-slide .second{
    display: none;
}
.menu-sections .swipers .swiper-slide:hover {
    background-color: var(--colorE42);
    border: 2px solid var(--color00);
}
.menu-sections .swipers .swiper-button-next,
.menu-sections .swipers .swiper-button-prev{
    color: var(--color00);
}

.menu-sections .swipers .swiper-slide:hover .fisrt{
    display: none;
}
.menu-sections .swipers .swiper-slide:hover .second{
    display: flex;
}
.menu-sections .swipers .swiper-slide:hover h2{
    color: var(--colorFF);
    font-size: .8rem;
    letter-spacing: 1px;
}
.menu-sections .swipers .swiper-slide .image{
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-sections .swipers .swiper-slide .image img{
    width: auto;
    height: 90px;
}
.menu-sections .swipers .swiper-slide h2{
    text-align: center;
    padding-top: 20px;
    font-size: .8rem;
    transition:  .3s ease-out;
    -webkit-transition:  .3s ease-out;
    -moz-transition:  .3s ease-out;
    -ms-transition:  .3s ease-out;
    -o-transition:  .3s ease-out;
}
/*MENU SECTION SLIDER SECTION END=============================*/

/*REFERENCES SECTION SLIDER SECTION START=============================*/
.references {
    min-height: 40vh;
    width: 100%;
    margin-bottom: 5rem;
}
.references .global_text h2{
    border: 2px solid rgba(228, 35, 42, 0.3);
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.references .refer{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.references .refer .box .image{

    border: 2px solid var(--colorF5);
    padding:1px;
    position: relative;
    object-fit: cover;
}
.references .refer .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.references .refer .box:hover .bgHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorE42);
    opacity: .7;
    cursor: pointer;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}
.references .refer .box {
    margin-top: 40px;
    position: relative;
}

.references .refer .box .text{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    background-color: #fff;
    color: var(--color00);
    text-align: center;
    font-size: clamp(10px,1.2vw,16px);
    padding: 10px 0;
    box-shadow: 0 0 5px;
    text-transform: uppercase;
    z-index: 2;
    transition: .2s;

}
.references .refer .box:hover .text{
    background-color: var(--colorE42);
    color: var(--colorFF);
    box-shadow: 1px 1px 2px 4px #f5f5f5;
}

.references .refer .box:hover .text a{
    color: var(--colorFF);
}

.references  .box_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.references  .box_btn .btn{
    border: 2px solid var(--colorF5);
    padding: 15px 40px 15px 40px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.references  .box_btn .btn a{
    color: var(--color00);
    width: max-content;
    text-transform: capitalize;
    text-align: center;
}
.references .box_btn .btn:hover{
    background: var(--colorE42);
}
.references .box_btn .btn:hover a{
    color: var(--colorFF);
}
/*REFERENCES SECTION SLIDER SECTION END=============================*/

/*ABOUT SECTION SLIDER SECTION START=============================*/
.about-section{
    min-height: 100vh;
    position: relative;
}
.about-section .row{
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
}
.about-section .global_text{
    margin-top: 4rem;
}
.about-section .row .image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f5f5f5;
    padding: 7px;
}
.about-section .row .image img{
    width: 100%;
    height: 100%;
}
.about-section .row .text{
    margin-top: 4rem;
    margin-bottom: 5rem;
} 
.about-section .row .text p{
    font-size: .9rem;
    text-align: justify;
}

/*ABOUT SECTION SLIDER SECTION END=============================*/

/*PARTNERS SECTION SLIDER SECTION START=============================*/
.partners-section{
 
    min-height: 80vh;
}
.partners-section .global_text{
    margin-top: 3rem;
}
.partners-section .partners{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.partners-section .partners {
    margin-bottom: 5rem;
}
.partners-section .partners .part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 3rem;
    border: 2px solid var(--colorF5);
    width: 180px;
    height: 140px;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #f5f5f5;
}
.partners-section .partners .part:last-child{
    margin-bottom: 3rem;
}
.partners-section .partners .image{
    display: flex;
    justify-content: center;
    align-items: center;


}
.partners-section .partners .image img{
    width: auto;
    height: 80px;
}
.partners-section .partners .part:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition:  .4s ease-out;
    -webkit-transition:  .4s ease-out;
    -moz-transition:  .4s ease-out;
    -ms-transition:  .4s ease-out;
    -o-transition:  .4s ease-out;
}
/*PARTNERS SECTION SLIDER SECTION END=============================*/

/*SERVICES SECTION SLIDER SECTION START=============================*/
.services-section{
    min-height: 100vh;
    position: relative;
}
.services-section .container-fluid{
    padding: 5px 150px 5px 150px;
}
.services-section .global_text{
    margin-top: 4rem;
}
.services-section .service_boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin: 10px auto;
    margin-bottom: 6rem;
}
.services-section .service_boxes .second{
    display: none;
}
.services-section .service_boxes .service_box:hover .fisrt{
    display: none;
}
.services-section .service_boxes .service_box:hover .second{
    display: flex;
}
.services-section .service_boxes .service_box{
    box-shadow: 0 8px 20px rgb(0 0 0 / 50%);
    margin-top: 1rem;
    width: 260px;
    height: 230px;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f5f5f5;
    cursor: pointer;
    transition:  .3s;
    -webkit-transition:  .3s;
    -moz-transition:  .3s;
    -ms-transition:  .3s;
    -o-transition:  .3s;
    padding: 0px 15px 15px;
}
.services-section .service_boxes .service_box .image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.services-section .service_boxes .service_box:hover,
.services-section .service_boxes .service_box:focus{
    background: var(--colorE42);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition:  .3s;
    -webkit-transition:  .3s;
    -moz-transition:  .3s;
    -ms-transition:  .3s;
    -o-transition:  .3s;
    border: 1px solid var(--color172);
}

.services-section .service_boxes .service_box .image img{
    width: auto;
    height: 120px;
}

.services-section .service_boxes .service_box .image h3{
    padding-top: 20px;
    font-size: .78rem;
    text-align: center;
    color: var(--color00);
}

.services-section .service_boxes .service_box:hover h3
{
    color: var(--colorFF);
}



/*SERVICES SECTION SECTION END=============================*/

/*PRODUCTS SECTION SLIDER SECTION START=============================*/

.products-section{
    min-height: 100vh;
    position: relative;
}
.products-section .container-fluid{
    padding: 5px 150px 5px 150px;
}
.products-section .global_text{
    margin-top: 4rem;
}
.products-section .products_boxs{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin: 10px auto;
    margin-bottom: 6rem;
}
.products-section .products_boxs .product_box{
    box-shadow: 0 8px 20px rgb(0 0 0 / 50%);
    margin-top: 1rem;
    width: 260px;
    height: 230px;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f5f5f5;
    cursor: pointer;
    transition:  .3s;
    -webkit-transition:  .3s;
    -moz-transition:  .3s;
    -ms-transition:  .3s;
    -o-transition:  .3s;
    padding: 0px 15px 15px;
}
.products-section .products_boxs .product_box .image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.products-section .products_boxs .product_box:hover,
.products-section .products_boxs .product_box:focus{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition:  .3s;
    -webkit-transition:  .3s;
    -moz-transition:  .3s;
    -ms-transition:  .3s;
    -o-transition:  .3s;
    border: 2px solid var(--colorE42);
}

.products-section .products_boxs .product_box .image img{
    width: auto;
    height: 120px;
}

.products-section .products_boxs .product_box .image h3{
    padding-top: 20px;
    font-size: .78rem;
    text-align: center;
    color: var(--color00);
}

.products-section .products_boxs .product_box:hover h3
{
    color: var(--color00);
}




/*PRODUCTS SECTION SECTION END=============================*/


/*REFERENCE SECTION  SECTION END=============================*/
.reference-section{
    position: relative;
    min-height: calc(100vh - 210px);
}
.reference-section  .global_text{
    margin-top: 6rem;
}
.reference-section  .reference-section-about{
    width: 100%;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
}
.reference-section  .reference-section-about .reference-section-text{
    width: 50%;
    padding-top: 3rem;
}
.reference-section  .reference-section-about .reference-section-text p{
    font-size: 1rem;
}
.reference-section  .reference-section-gallery{
    width: 80%;
    margin: 100px auto 0;
    display: grid;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(330px,.7fr));
    grid-gap: 15px;
    cursor: pointer;
}
.reference-section  .reference-section-gallery#margin:last-child{
    padding-bottom: 15rem !important;
}

/*REFERENCE SECTION  SECTION END=============================*/

/*PRODUCTS DETAILS SECTION  SECTION END=============================*/
.productdetils-section{
    position: relative;
    min-height: 100vh;
    overflow: hidden !important;
}
.productdetils-section .global_text{
    padding-top: 6rem;
}
.productdetils-section .productdetils-section-gallery{
    display: flex;
    justify-content: center;
}
.productdetils-section .productdetils-section-gallery .image{
    width: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
}
.productdetils-section .productdetils-section-about{
    margin-top: .2rem;
    display: flex;
    justify-content: center;
    padding: 0px 150px 0px 150px;
    margin-bottom: 10rem;
}
.productdetils-section .productdetils-section-about p{
    width: 100%;
    text-align: justify;
}


 
/*PRODUCTS DETAILS SECTION END=============================*/


/*REFERENCES SECTION  SECTION START=============================*/
.references-section{
    position: relative;
    min-height: calc(100vh - 210px);
}
.references-section  .global_text{
    margin-top: 3rem;
}
.references-section .references-boxs{
    width: 60%;
    margin: auto;
}

.references-section .references-boxs .references-box{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items:center;
    align-items: center;
    -webkit-jusify-content:center;
    justify-content: center;
    margin: 40px auto;

}
.references-section .references-boxs .references-box:last-child{
    margin-bottom: 10rem;
}
.references-section .references-boxs .references-box:nth-child(2n){
    flex-direction: row-reverse;
}
.references-section .references-boxs .references-box:nth-child(odd)
.references-box-img{
    margin-right: 50px;
}

.references-section .references-boxs .references-box .references-box-img{
    position: relative;
    width: 50%;
    max-width: 500px;
    min-height: 135px;
}
.references-section .references-boxs .references-box .references-box-img::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    height: 5px;
    width: 80px;
    background-color: grey;
    transition: width .3s ease-out;
}
.references-section .references-boxs .references-box .references-box-img::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 70px;
    width: 5px;
    background-color: grey;
    transition: height .3s ease-out;
}
.references-section .references-boxs .references-box .references-box-img:hover::before{
    width: calc(100% + 10px);
    background-color: var(--colorE42);
}
.references-section .references-boxs .references-box .references-box-img:hover::after{
    height: calc(100% + 10px);
    background-color: var(--colorE42);
}
.references-section .references-boxs .references-box .references-box-img:hover .references-box-imgHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorE42);
    transition: .9s ease-out;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: .9s ease-out;
    -moz-transition: .9s ease-out;
    -ms-transition: .9s ease-out;
    -o-transition: .9s ease-out;
}
.references-section .references-boxs .references-box .references-box-text{
    width: 90%;
    min-height: 40px;
    padding: 10px;
    background-color: var(--colorFF);
    position: absolute;
    bottom: -20px;
    left: 50%;
    color: var(--color00);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: center;
    display: -webkit-flex;
    display: flex;
    font-size: 1rem;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    transition: .3s ease-out;
    z-index: 2;
}
.references-section .references-boxs .references-box .references-box-img:hover .references-box-text{
    background: var(--colorE42);
    color: var(--colorFF);
}
.references-section .references-boxs .references-box-about{
    width: 50%;
}
.references-section .references-boxs .references-box-about p{
    text-align: center;
    padding: 30px;
    font-size: .8rem;
    font-weight: 600;
}


/*REFERENCES SECTION  SECTION END=============================*/



/*CERTIFICATS SECTION  SECTION START=============================*/
.cert-section{
    min-height: 100vh;
    position: relative;
}
.cert-section .container .global_text{
    margin-top: 4rem;
}
.cert-section .container .certs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}
.cert-section .container .certs .cert .cert_card {
    width: 350px;
    height: 400px;
    margin: 20px;
    border: 2px solid var(--colorF5);
    padding: 5px;
}
.cert-section .container .certs .cert:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: .4s ease-out ;
    -webkit-transition: .4s ease-out ;
    -moz-transition: .4s ease-out ;
    -ms-transition: .4s ease-out ;
    -o-transition: .4s ease-out ;
}
.cert-section .container .certs .cert .cert_card img{
    width: 100%;
    height: 100%;
}
.cert-section .fancybox__track{
    padding-top: 4rem;
}
/*CERTIFICATS SECTION  SECTION END=============================*/


/*CONTACT SECTION  SECTION START=============================*/
.contact-section{
    min-height: 100vh;
    position: relative;
}
.contact-section .container-fluid {
    padding: 10px 100px 10px 100px;
}

.contact-section .container-fluid .global_text{
    margin-top: 4rem;
}
.contact-section .container-fluid .contact_details{
    border: 2px solid var(--colorF5);
    width: 85%;
    margin: 0 auto 30px;
    padding: 20px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    display: flex;
    flex-direction: column;
}
.contact-section .container-fluid  .contact_infos{
    display: flex;
    justify-content: space-around;
}
.contact-section .container-fluid  .contact_infos .contact_map,
.contact-section .container-fluid  .contact_infos .contact_phone,
.contact-section .container-fluid  .contact_infos .contact_mail{
    border: 1px solid var(--colorF5);
    padding: 10px 40px 10px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 150px;
}
.contact-section .container-fluid  .contact_infos .contact_map p,
.contact-section .container-fluid .contact_infos .contact_phone p,
.contact-section .container-fluid  .contact_infos .contact_mail p{
    font-size: 13px;
    text-align: center;
}
.contact-section .container-fluid  .contact_infos .contact_map p a,
.contact-section .container-fluid  .contact_infos .contact_phone p a,
.contact-section .container-fluid  .contact_infos .contact_mail p a{
    color: var(--color00);
}
.contact-section .container-fluid  .contact_infos .contact_map p a:hover,
.contact-section .container-fluid  .contact_infos .contact_phone p a:hover,
.contact-section .container-fluid  .contact_infos .contact_mail p a:hover{
    color: var(--colorE42);
}
.contact-section .container-fluid .contact_infos .contact_map i,
.contact-section .container-fluid  .contact_infos .contact_phone i,
.contact-section .container-fluid  .contact_infos .contact_mail i{
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--colorE42);
}
.contact-section .container-fluid .contact_form{
    display: flex;
    margin-top: 2rem;
}
.contact-section .container-fluid .contact_form form{
    flex: .5 1;
    display: flex;
    flex-wrap: wrap;
}
.contact-section .container-fluid .contact_form form input,
.contact-section .container-fluid .contact_form form textarea{
    width: calc(50% - 20px);
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}
.contact-section .container-fluid .contact_form form input:nth-child(2){
    margin-left: 10px;
}
.contact-section .container-fluid .contact_form form input:nth-child(3){
    width: calc(100% - 30px);
}
.contact-section .container-fluid .contact_form form textarea{
    width: calc(100% - 30px);
    min-height: 150px;
    resize: none;
}
.contact-section .container-fluid .contact_form form .contact_btn {
    display: flex;
    justify-content:right !important;
    align-items: flex-end !important;
}
.contact-section .container-fluid .contact_form form .contact_btn button{
    padding: 10px 35px;
    text-transform: capitalize;
    background-color: var(--colorE42);
    color: var(--colorFF);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}
.contact-section .container-fluid .contact_form form button:hover{
    background: var(--colorF5);
    color: var(--colorE42);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.contact-section .container-fluid .contact_form .contact_form_map{
    flex: .5 1;
}
.contact-section .container-fluid .contact_form .contact_form_map .map{
    width: 100%;
    height: 100%;
    min-height: 300px !important;
    border: 2px solid var(--colorF5);
    padding: 10px;
}



/*CONTACT SECTION  SECTION END=============================*/












/*FOOTER SECTION START=============================*/
footer{
    background: var(--colorE42);
}
footer .container-fluid{
    padding: 20px 0px 20px 0px;
}
footer .container-fluid .fotLeft .image{
    width: auto;
    height: 30px;
}
footer .container-fluid .fotTight .image{
    width: auto;
    height: 20px;
}
footer .container-fluid .image img{
    width: 100%;
    height: 100%;
}
footer .container-fluid .fotLeft{
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
}
footer .container-fluid .fotTight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 90px;
}
footer .container-fluid .fotTight h4{
    display: inline-block;
    color: var(--colorFF);
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    padding-right: 20px;
    border-right: 1px solid var(--colorF5);

}
footer .container-fluid .fotTight img{
    padding-left: 10px;
}

/*--------------------------------------RESPONSIVE -------------------------------------------*/

@media screen and (max-width: 1200px){
    .contact-section .container-fluid .contact_form form input,
    .contact-section .container-fluid .contact_form form textarea{
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .contact-section .container-fluid .contact_form{
        flex-direction: column;
    }
    .contact-section .container-fluid  .contact_infos .contact_map,
    .contact-section .container-fluid  .contact_infos .contact_phone,
    .contact-section .container-fluid  .contact_infos .contact_mail{
        padding: 10px 10px 10px 10px;
    }
    .contact-section .container-fluid .contact_infos .contact_map p,
    .contact-section .container-fluid  .contact_infos .contact_phone p,
    .contact-section .container-fluid  .contact_infos .contact_mail p{
        font-size: 13px;
    }
    .contact-section .container-fluid .contact_form form .contact_btn button{
        margin-bottom: 20px;
    }
    .services-section .container-fluid{
        padding: 0px 25px 0px 25px;
    }
    .references-section .references-boxs{
        width: 80%;
    }
    .references-section .references-boxs .references-box .references-box-text{
        font-size: .8rem;
    }
    .references-section .references-boxs .references-box-about p{
        font-size: .6rem;
    }
    .home .carousel-item{
        min-height: 70vh;
    }
    .home .carousel-inner .text h2{
        font-size: 2.0rem;
    }
    .products-section .products_boxs{
        width: 85%;
    }
    .products-section .container-fluid{
        padding: 0px 10px 0px 10px;
    }
    header .header-up .socials{
        width: 55%;
    }
    header .header-down .navbar .nav-item a{
        font-size: 14px;
    }
    header .header-up .connection a{
        font-size: 14px;
    }
    header .header-up .socials li i{
        font-size: 16px;
    }
    .menu-sections{
        margin-top: 0rem;
    }
    footer .container-fluid{
        padding: 10px 0px 10px 0px;
    }
    footer .row > * {
        width: 50%;
    }
    header .header-up .language{
        padding-right: 0px;
    }
}
@media screen and (max-width:1024px) {
    .home .carousel-item{
        min-height: 43vh !important;
    }
    header .header-down .navbar .nav-item{
        margin-left: 25px;
    }
    header .header-down .navbar .nav-item a{
        font-size: 15px !important;
    }
}
@media screen  and (max-width:991px) {
    .productdetils-section .productdetils-section-gallery .image{
        padding-bottom: 4rem;
    }
   .productdetils-section .global_text h2{
    font-size: 1.2rem;
    }
    .productdetils-section .productdetils-section-about{
        padding: 0px 100px 0px 100px;
    }
    .mobileMenu{
        display: inline-block;
        float: right;
        padding-top: 12px;
        padding-right: 1rem;
    
    }
    .main-slider .row{
        --bs-gutter-x: 0rem !important;
    }
    header .row > * {
        width: 50%;
    }
    header .header-down .navbar-collapse{
        display: none;
    }
  
  header .header-up .language .mobileMenu{
      display: flex;
  }
  header .header-up .language .socials{
      display: none !important;
  }
  header .header-up .language{
      padding-right: 0px;
  }
  header .header-up .language {
      padding-top: 5px;
  }
  .vs-menu-wrapper .selectpicker{
      position: absolute;
      left: 45%;
      transform: translate(-40%,0);
      bottom: 20%;
      -webkit-transform: translate(-40%,0);
      -moz-transform: translate(-40%,0);
      -ms-transform: translate(-40%,0);
      -o-transform: translate(-40%,0);
    }   
    header .header-up .connection {
    
        padding-top: 5px;
    }
    header .header-up .connection a{
        padding-top:5px;
    }
    header .container{
        padding: 5px;
    }
    header .header-down .navbar .navbar-brand img{
        height: 35px;
        padding-left: 1rem;
    }
    .home .carousel-item{
        min-height: 63vh;
    }
    .home .carousel-inner .text h2{
        font-size: 1.7rem;
    }
    .home .carousel-inner .about .text{
        height: 70px;
    }
    .home .carousel-indicators button{
        width: 50px;
        height: 50px;
    }
    .references .refer{
        grid-template-columns: repeat(2,1fr); 
    }
    .services-section .container-fluid{
        padding: 0px 10px 0px 10px;
    }
    .products-section .container-fluid{
        padding: 0px 10px 0px 10px;
    }
    .products-section .products_boxs{
        width: 100%;
    }
}
@media (max-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 860px;
        }
}
@media (min-width:992px){
      .vs-menu-wrapper.vs-body-visible {
        display: none !important;
      }
    
}
@media screen and (max-width:767px){
    footer .row > * {
        width: 100%;
    }
    footer .container-fluid .fotLeft{
        justify-content: center;
    }
    footer .container-fluid .fotTight{
        justify-content: center;
        align-items: center;
    }
   header .header-up .socials {
       padding-top:3px;
   }
   header .header-up .language {
       padding-top: 12px;
   }
   .about-section .row .text{
       padding: 10px;
   }
   .about-section .row .text p{
       font-size: .7rem;
   }
   .header-up .lang{
        width: 30%;
   }
    header .row > *{
      width: 70%;
   }
   footer .container-fluid .fotTight{
    padding-right: 0px !important;
    }
    .references .box_btn .btn{
        padding: 10px 20px 10px 20px;
    }
    .references .box_btn .btn a{
        font-size: .8rem;
    }
    .references .global_text h2{
        font-size: 1rem;
        margin-bottom: 1.2rem;
    }
    .partners-section .partners .part{
        margin-left: 12px;
    }
    header .header-up .social a{
        padding-top: 5px;
        font-size: 15px !important;
      }
      .contact-section .container-fluid .contact_infos{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .references .refer .box .text{
        line-height: 14px;
        font-size: 9px;
    }
    .references .refer .box .text a {
        font-size: 11px;
    }
   
    .contact-section .container-fluid{
        padding: 0;
    }
    .contact-section .container-fluid .contact_infos .contact_map,
    .contact-section .container-fluid  .contact_infos .contact_phone,
    .contact-section .container-fluid  .contact_infos .contact_mail{
        width: 100%;
        margin-top: 20px;
        height: 150px;
    }
    .references-section .references-boxs{
        width: 90%;
    }
    .references-section .references-boxs .references-box {
        flex-direction: column !important;
    }
    .references-section .references-boxs .references-box .references-box-img{
        width: 90%;
        margin: 0 0 50px !important;
    }
    .references-section .references-boxs .references-box-about{
        width: 90%;
    }
    .productdetils-section .productdetils-section-gallery .image{
        width: 90%;
    }
    .productdetils-section .productdetils-section-about{
        padding: 0px 20px 0px 20px;
    }
    .productdetils-section .productdetils-section-about p{
        font-size: .74rem;
    }
    .reference-section .global_text{
        margin-top: 2rem ;
      
    }
    
    .reference-section .reference-section-about .reference-section-text{
        width: 90%;
        padding-top: 1rem;
    }
    .reference-section .reference-section-about .reference-section-text p{
        font-size: .8rem;
    }
    .reference-section  .reference-section-gallery{
        width: 95%;
        margin: 50px auto 0;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        justify-content: center;
    }
    .home .carousel-control-next,
	.home .carousel-control-prev{
		display: none;
	}
	.home .carousel-indicators button{
		height: 40px;
		width: 40px;
	}
	.home .carousel-item h2{
		font-size: 45px;
	}
	.home .carousel-item p{
		font-size: 22px;
	}
    .home .carousel-item{
        min-height: 48vh;
    }
    .home .carousel-inner .about .text{
        height: 60px;
    }
    .home .carousel-inner .about{
        width: 50%;
    }
    .home .carousel-inner .text h2{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:640px){
    .home .carousel-inner .about{
        width: 60%;
    }
    .home .carousel-inner .text h2{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:565px){
    
    header .header-up .language{
        padding-top: 15px !important;
    }
    header .header-down .navbar .navbar-brand img{
        height: 30px;
        margin-top: 15px;
        margin-left: 20px;
    }
    footer .container-fluid .fotLeft{
        padding-left: 0px;
    }
    .vs-menu-wrapper .vs-mobile-menu{
        font-size: 15px;
    }
    footer .container-fluid .fotTight h4{
        font-size: .85rem;
    }
    header .header-up .connection {
        display: flex;
        flex-direction: column;
        padding:5px 0px 5px 10px;
    }
    header .container{
        padding: 0px;
    }
    header .header-up .language{
        padding-right: 10px;
    }
  .vs-menu-area{
    max-width: 100%;
  }
  header .col-sm-6{
      width: 50% !important;
  }
  header .header-down{
      min-height: 70px;
  }
  .navbar-brand{
      padding-top: 0;
  }
  .home .carousel-item{
    min-height: 33vh;
}
.home .carousel-inner .about{
    width: 70%;
}
.home .carousel-inner .text h2{
    font-size: 1rem;
}
}
/*FOOTER SECTION END=============================*/