<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/csharp/c2.webp" alt="charp">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Car Game</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Car Game</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>C#</span></li>
        <li>Save - <span><a href="https://github.com/thewebjavid/C--CarGame/raw/main/araba.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
