<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project47.webp" alt="project47">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/Counter/" target="_blank" class="btnD">Demo</a>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Subscriber Counter</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Subscriber Counter</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/Counter/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=ZMboIKwownk" target="_blank">Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/Counter/Counter.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
