<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/sites/site03.webp" alt="site3">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/PortfolioC/" target="_blank" class="btnD">Demo</a>
    </div>
    </div>
  </div>
</div>
  <h3 class="portfilo-item-title "></h3>
  <button type="button" class="btn view-project-btn">Portfolio</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Portfolio</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/PortfolioC/index.html" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/PortfolioC/PortfolioC.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
