@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/33.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.circle{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    width: 250px;
    height: 250px;
    background: url('../img/homepic.png');
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: brightness(1.5) contrast(1.5);
    -webkit-filter: brightness(1.5) contrast(1.5);
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    -webkit-animation: rotateText 20s linear infinite;
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin:0 150px;
}
@keyframes rotateText{
    0%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
}