@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #056f99;
}
.container{
    height: 400px;
    min-width: 400px;
    display: flex;
    align-items: flex-end;
}
.icon-image{
    position: relative;
    height: 70px;
    width: 70px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}
.icon-image img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #056f99;
    cursor: pointer;
}
.hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    z-index: 0;
    transition: transform .5s,z-index 0s,left .5s,bottom .6s;
    transition-delay: 0s,.5s,.5s;
    pointer-events: none;
}
.icon-image:hover .hover-image{
    left: -200px;
    bottom: 120px;
    z-index: 15;
    transform: translateX(80px);
    transition: left .5s, z-index 0s, transform .5s,bottom .6s;
    transition-delay: 0s,.5s,.5s;
}
.hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 25px;
}
.content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    padding: 0 10px;
}
.content::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -.3px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

.content .detalis{
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    border: 3px solid #022836;
}
.icon-image:hover .detalis{
    opacity: 1;
    transform: translateY(28px);
    transition: all .3s ease;
    transition-delay: .9s;
}
.content .detalis::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.detalis .name{
    font-size: 20px;
    font-weight: 500;
}
.detalis .job{
    font-size: 17px;
    color: #056f99;
    margin: -3px 0 5px 0;
}
.last .hover-image{
    transition: none;
}
.last:hover .hover-image{
    transition: none;
}
.last:hover .detalis{
    transition-delay: 0s;
}