<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/csharp/c1.jpg" alt="charp">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Car Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Car Project</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>C#</span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/CarStore/raw/main/Car.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
