<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/csharp/c3.webp" alt="charp">
    <div class="content">
      <a href="https://github.com/thewebjavid/Checkers/raw/main/checkers.rar">Download</a>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Checkers</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Checkers</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>C#</span></li>
      </ul>
    </div>
  </div>
