<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/csharp/c4.webp" alt="charp">
    <div class="content">
      <h4 class="porrfolio-text">Calculator</h4>
      <a href="https://github.com/thewebjavid/Calculator/raw/main/Calculator.rar" class="btnE" >Download</a>
      <a href="img/portfolio/photoA/csharp/c4.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
    </div>
    </div>
  </div>
  </div>

