<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/csharp/c5.webp" alt="charp">
    <div class="content">
      <h4 class="porrfolio-text">Space Game</h4>
      <a href="https://github.com/thewebjavid/SpceGame/raw/main/SpaceGame.rar" class="btnE">Download</a>
      <a href="img/portfolio/photoA/csharp/c5.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
    </div>
    </div>
  </div>
  </div>

