<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project1.webp" alt="project1">
      <div class="content">
        <a href="https://thejavidev.github.io/Demo/MenuBar/index.html" target="_blank" class="btnD">Demo</a>
      </div>
         <div class="new">New</div>
      </div>
    </div>
    </div>
    <h3 class="portfilo-item-title"></h3>
    <button type="button" class="btn view-project-btn">Menu Bar</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">Menu Bar</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css,Js,Jquery</span></li>
          <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/MenuBar/index.html" target="_blank">Demo</a></span></li>
          <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/MenuBar/MenuBar.rar" >Downlaod</a></span></li>
        </ul>
      </div>
    </div>