<div class="portfilo-item-thumbnail">
        <div class="box pt-56">
          <div class="box_resize">
          <img class="lozad" data-src="img/portfolio/photoA/project/project15.webp" alt="project15">
          <div class="content">
            <h4 class="porrfolio-text">Animated Icons</h4>
            <a href="https://thejavidev.github.io/Demo/AnimatedIcons/index.html" target="_blank" class="btnE">Demo</a>
           <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/AnimatedIcons/AnimatedIcons.rar"  class="btnE">Download</a>
           <a href="img/portfolio/photoA/project/project15.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
          </div>
          </div>
        </div>
        </div>
    
      