<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project18.webp" alt="project18">
      </div>
    </div>
    </div>
    <h3 class="portfilo-item-title"></h3>
    <button type="button" class="btn view-project-btn">RGB Button</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">RGB Button</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css</span></li>
          <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/RgbButton/index.html" target="_blank">Demo</a></span></li>
          <li>Save - <span><a href="https://github.com/thejavidev/RGB-Button/raw/main/RgbButton.rar">Download</a></span></li>
        </ul>
      </div>
    </div>
  
