<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project2.webp" alt="project2">
       <div class="new">New</div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Emoji Bar</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Emoji Bar</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/EmojiBar/index.html" target="_blank">Demo</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/EmojiBar/EmojiBar.rar" >Download</a></span></li>
      </ul>
    </div>
  </div>