<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project24.webp" alt="project24">
      </div>
    </div>
    </div>
    <h3 class="portfilo-item-title"></h3>
    <button type="button" class="btn view-project-btn">3D Food</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">3D Food</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css</span></li>
          <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/3DFood/" target="_blank">Demo</a></span></li>
          <li>Save - <span><a href="https://github.com/thejavidev/3D-Food/raw/main/3DFood.rar" >Download</a></span></li>
        </ul>
      </div>
    </div>
  
