<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project26.webp" alt="project26">
      <div class="content">
        <a href="https://thejavidev.github.io/Demo/Coffe/" target="_blank" class="btnE">Demo</a>
      <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/Coffe/Coffe.rar" >Download</a>
      </div>
      </div>
    </div>
    </div>
    <h3 class="portfilo-item-title"></h3>
    <button type="button" class="btn view-project-btn">Hot Coffee</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">Hot Coffee</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css</span></li>
        </ul>
      </div>
    </div>
  