<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project27.webp" alt="project27">
      </div>
    </div>
    </div>
    <h3 class="portfilo-item-title"></h3>
    <button type="button" class="btn view-project-btn">Cut Photo</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">Cut Photo</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css</span></li>
          <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/CutPhoto/index.html" target="_blank">Demo</a></span></li>
          <li>Save - <span><a href="https://github.com/thejavidev/resimbolme/raw/main/CutPhoto.rar" >Download</a></span></li>
        </ul>
      </div>
    </div>
  