<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project36.webp" alt="project36">
    <div class="content">
      <h4 class="porrfolio-text">Product Card</h4>
      <a href="https://thejavidev.github.io/Demo/ProductCard/" target="_blank" class="btnE">Demo</a>
     <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/ProductCard/ProductCard.rar" class="btnE">Download</a>
     <a href="img/portfolio/photoA/project/project36.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
    </div>
    </div>
  </div>
  </div>
