<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project37.webp" alt="project37">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/RainProject/" target="_blank" class="btnE">Demo</a>
     <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/RainProject/RainProject.rar">Download</a>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Rain Project</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Rain Project </p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css</span></li>
      </ul>
    </div>
  </div>