<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project4.webp" alt="project4">
      <div class="content">
        <h4 class="porrfolio-text">3D Social Media</h4>
        <a href="https://thejavidev.github.io/Demo/3DSocialMedia/index.html" target="_blank" class="btnE">Demo</a>
        <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/3DSocialMedia/3DSocialMedia.rar"  class="btnE">Downlaod</a>
        <a href="img/portfolio/photoA/project/project4.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
      </div>
      </div>
    </div>
    </div>

  