<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/photos/project41.jpg" alt="project41">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">NotePad</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">NotePad</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/NotePad/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=47hVqOIAezU" target="_blank">Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/NotePad/raw/main/Notepad.rar" >Download</a></span></li>
      </ul>
    </div>
  </div>

