<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project43.webp" alt="project43">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/Loading3/" target="_blank" class="btnD">Demo</a>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Loader-3</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Loader-3</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/Loading3/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=tnpyHqmlm5w" target="_blank">Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/Loading3/Loading3.rar">Download</a></span></li>
      </ul>
    </div>
  </div>
