<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project45.webp" alt="project45">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/VerticalSlider/" target="_blank" class="btnE">Demo</a>
     <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/VerticalSlider/VerticalSlider.rar">Download</a>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Slider</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Slider</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
      </ul>
    </div>
  </div>
