<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/project/project48.webp" alt="project48">
    <div class="content">
      <a href="https://thejavidev.github.io/Demo/ProgressSteps/" target="_blank" class="btnE">Demo</a>
    <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/ProgressSteps/ProgressSteps.rar" class="btnE">Download</a></span></li>
    </div>
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title"></h3>
  <button type="button" class="btn view-project-btn">Progress Steps</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Progress Steps</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
      </ul>
    </div>
  </div>
