<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/project/project9.webp" alt="project9">
      <div class="content">
        <h4 class="porrfolio-text">Responsive Menu</h4>
        <a href="https://thejavidev.github.io/Demo/ResponsiveMenu/index.html" target="_blank" class="btnE">Demo</a>
       <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/ResponsiveMenu/ResponsiveMenu.rar" class="btnE">Download</a>
       <a href="img/portfolio/photoA/project/project9.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
      </div>
      </div>
    </div>
    </div>
