<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/sites/site13.webp" alt="site13">
      <div class="content">
        <a href="https://thejavidev.github.io/Demo/Coffee/" target="_blank" class="btnE">Demo</a>
        <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/Coffee/Coffee.rar" class="btnE">Download</a>
      </div>
        <div class="new">New</div>
      </div>
    </div>
  </div>
    <h3 class="portfilo-item-title "></h3>
    <button type="button" class="btn view-project-btn">Coffee Site</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">Coffee Site</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css,Js</span></li>
        </ul>
      </div>
    </div>
  
