

  <div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
        <img class="lozad" data-src="img/portfolio/photoA/sites/site15.webp" alt="site15">
      <div class="content">
        <h4 class="porrfolio-text">Penceremiz.Corn.Az</h4>
        <a href="https://penceremiz.corn.az/" target="_blank" class="btnE">Demo</a>
        <a href="https://corn.az/" target="_blank" class="btnE">Corn.Az</a>
        <a href="img/portfolio/photoA/sites/site15.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
      </div>
      </div>
    </div>
  </div>

 
  
