<div class="portfilo-item-thumbnail">
  <div class="box pt-56">
    <div class="box_resize">
    <img class="lozad" data-src="img/portfolio/photoA/sites/site06.webp" alt="site6">
    </div>
  </div>
  </div>
  <h3 class="portfilo-item-title "></h3>
  <button type="button" class="btn view-project-btn">Food Site</button>
  <div class="protfilo-item-detalis">
    <div class="description">
      <p id="text">Food Site</p>
    </div>
    <div class="general-info">
      <ul>
        <li>Used - <span>Html,Css,Js</span></li>
        <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/FoodsSite/index.html" target="_blank">Demo</a></span></li>
        <li>Making Process - <span><a href="https://www.youtube.com/watch?v=x9MqcAqeCmQ" target="_blank"> Watch Youtube Video</a></span></li>
        <li>Save - <span><a href="https://github.com/thejavidev/FoodsSite/raw/main/FoodSite.rar">Download</a></span></li>
      </ul>
    </div>
  </div>