<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/sites/site08.webp" alt="site8">
      <div class="content">
        <a href="https://thejavidev.github.io/Demo/SporPage/" target="_blank" class="btnE">Demo</a>
      </div>
      </div>
    </div>
</div>
    <h3 class="portfilo-item-title "></h3>
    <button type="button" class="btn view-project-btn">Spor Page</button>
    <div class="protfilo-item-detalis">
      <div class="description">
        <p id="text">Spor Page</p>
      </div>
      <div class="general-info">
        <ul>
          <li>Used - <span>Html,Css,Js</span></li>
          <li>Demo Version - <span><a href="https://thejavidev.github.io/Demo/SporPage/index.html" target="_blank">Demo</a></span></li>
          <li>Save - <span><a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/SporPage/SporPage.rar">Download</a></span></li>
        </ul>
      </div>
    </div>
  
