<div class="portfilo-item-thumbnail">
    <div class="box pt-56">
      <div class="box_resize">
      <img class="lozad" data-src="img/portfolio/photoA/sites/site09.webp" alt="site9">
      <div class="content">
        <h4 class="porrfolio-text">Car Page</h4>
        <a href="https://thejavidev.github.io/Demo/CarPage/" target="_blank" class="btnE">Demo</a>
      <a href="https://github.com/thejavidev/thejavidev.github.io/raw/main/Demo/CarPage/CarPage.rar" class="btnE">Download</a>
      <a href="img/portfolio/photoA/sites/site09.webp" data-fancybox="gallery" class="btnE"><i class="fas fa-search-plus"></i></a>
      </div>
      </div>
    </div>
  </div>


  